---
layout: default
---

{% assign lang = page.lang | default: site.lang | default: "en" %}
{% assign base_path = site.collections_dir | default: "" | append: "/" %}

<div class="page article">
{% include hero.html title=page.title %}
<section class="section">
  <div class="container">
    <div class="richtext">
      {{ content }}
    </div>
    {% comment %}
        Use the github edit link until netlify-cms support easy deep link.
        See: https://github.com/netlify/netlify-cms/issues/697
    {% endcomment %}
    <a class="edit-button" href="https://github.com/{{ site.github_repository }}/edit/master{{ base_path }}{{ page.path }}">
        ✎ {{ site.i18n[lang].edit }}
    </a>
  </div>
</section>
